@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* convert to farsi rtl
body {
  direction: rtl;
  text-align: right;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

/* START: Header styles */

.header__top {
  @apply flex flex-row justify-between p-1 border-b-2 bg-gray-900 -mb-[1px] pl-2;
}

.header-nav__mobile {
  @apply sm:hidden flex flex-col items-end gap-1 font-semibold;
}

.header-nav__item{
  @apply text-white hover:text-gray-500;
}

.header-nav__toggle {
  @apply sm:hidden font-bold text-lg text-white hover:text-gray-500;
}
.header-nav__xl{
  @apply hidden sm:flex justify-between items-center gap-4 px-2 font-semibold justify-self-end;
}
.header-active_link {
  @apply font-extrabold text-red-500 border-b-2 border-dark-red;
}
.header-inactive_link {
  @apply bg-inherit text-white hover:text-gray-500;
}
/* END: Header styles */

/* START: Footer styles */
.footer {
  @apply flex flex-col text-black  mt-5 border-t border-gray-100;
}
 
.footer__links-container {
  @apply flex max-md:flex-col flex-wrap justify-between gap-5 sm:px-16 px-6 py-10;
}

.footer__rights {
  @apply flex flex-col justify-start items-start gap-6;
}

.footer__text {
  @apply text-base text-gray-700;
}

.footer__links {
  @apply flex-1 w-full flex md:justify-end flex-wrap max-md:mt-10 gap-20;
}

.footer__link {
  @apply flex flex-col gap-6 text-base min-w-[170px];
}

.footer__copyrights {
  @apply flex justify-between items-center flex-wrap text-sm mt-6 border-t border-gray-100 sm:px-16 px-6 py-2;
}

.footer__copyrights-link {
  @apply flex-1 flex sm:justify-end justify-center max-sm:mt-4 gap-10;
}
/* END: Footer styles */
/* START: General styles */
.max-width {
  @apply max-w-[1440px] mx-auto;
}

.padding-x {
  @apply sm:px-16 px-6;
}

.padding-y {
  @apply py-4;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.custom-btn {
  @apply flex flex-row relative justify-center items-center py-3 px-6 outline-none;
}
/* END: General styles */

/* START: Hero styles */
.hero {
  @apply flex xl:flex-row flex-col relative z-0 max-w-full;
}

.hero__text_container {
  @apply flex-1 pt-36 padding-x;
}

.hero__title {
  @apply 2xl:text-[72px] sm:text-[48px] text-[40px] font-extrabold; /* Adjust font sizes for smaller screens */
}

.hero__subtitle {
  @apply text-[20px] text-black font-light; /* Adjust font size for smaller screens */
}

.hero__image_container {
  @apply xl:flex-[1.5] flex justify-end items-end max-w-full max-h-screen;
}

.hero__image {
  @apply relative xl:w-full w-full xl:h-full h-auto; /* Set height to auto for responsive behavior */
}

.hero__image_overlay {
  @apply absolute bg-curves bg-repeat-round -z-10 w-full h-full overflow-hidden; /* Set width and height to full screen for mobile */
}

.hero__button {
  @apply bg-dark-red text-white rounded-full mt-10 mb-24;
}

/* END: Hero styles */

/* START: Home styles */

.home__text-container {
  @apply flex flex-col items-start justify-start gap-y-2.5 text-black;
}

.home__filters {
  @apply mt-12 w-full flex-between items-center flex-wrap gap-5;
}

.home__filter-container {
  @apply flex justify-start flex-wrap items-center gap-2;
}

.home__wrapper {
  @apply grid 2xl:grid-cols-4 xl:grid-cols-3 md:grid-cols-2 grid-cols-1 w-full gap-8 pt-14;
}

.home__error-container {
  @apply mt-16 flex justify-center items-center flex-col gap-2;
}
/* END: Home styles */

/* START:not found error page */

.not-found-container {
  @apply h-screen w-full flex flex-col justify-center items-center bg-black;
}
.not-found-h{
  @apply text-9xl font-extrabold text-white tracking-widest;
}
.not-found{
  @apply bg-dark-red px-2 text-sm rounded rotate-12 absolute;
}
/* END:not found error page */

/* START: about us page*/
.about-us-container {
  @apply sm:flex items-center max-w-screen-xl;
}
.about-us-image-container {
  @apply sm:w-1/2 sm:p-20  bg-dark-red;
}
.about-us-text-container {
  @apply sm:w-1/2 p-5;
}
.about-us-text {
  @apply my-4 font-bold text-3xl  sm:text-4xl;
}
/* END: about us page*/

/* START: contact us page*/
.contact-container__box {
  @apply bg-white w-full shadow rounded p-8 sm:p-12 -mt-72;
}
.contact-p {
  @apply text-3xl font-bold leading-7 text-center;
}
.contact-form__div {
  @apply md:flex items-center mt-12;
}
.contact-form__div-message {
  @apply w-full flex flex-col mt-8;
}
.contact-form__label {
  @apply font-semibold leading-none;
}
.contact-form__input {
  @apply leading-none text-gray-900 p-3 focus:outline-none focus:border-red-700 mt-4 bg-gray-100 border rounded border-gray-200;
}
.contact-form__text {
  @apply h-40 text-base leading-none text-gray-900 p-3 focus:outline-none focus:border-red-700 mt-4 bg-gray-100 border rounded border-gray-200;
}
.contact-form__btn-container {
  @apply flex items-center justify-center w-full;
}
.contact-form__btn {
  @apply mt-9 font-semibold leading-none text-white py-4 px-10 bg-gray-700 rounded hover:bg-gray-600 focus:ring-2 focus:ring-offset-2 focus:ring-gray-700 focus:outline-none;
}
/* END: contact us page*/

/* START: Card styles */
.card {
  @apply text-black bg-slate-300 hover:bg-slate-200 hover:shadow-lg hover:shadow-red-950 rounded-3xl;
}

.card__header {
  @apply w-full flex flex-row justify-between items-start px-4 pt-6 pb-2;
}

.card__content-title {
  @apply text-[20px] leading-[26px] font-bold capitalize;
}

.card__image {
  @apply relative w-full h-96 object-contain;
}

.card__btn-container {
  @apply hidden group-hover:flex absolute bottom-0 w-full z-10;
}
.imdb-rating__value {
  @apply text-[14px] text-gray-800 font-extrabold;
}
/* END: Card styles */


